version: '{build}-{branch}'

clone_folder: C:\git\LuaConsole
skip_tags: true
max_jobs: 2

image: Visual Studio 2019
platform: x64
branches:
  only:
  - master

build_script:
- cmd: appveyor.msvs.bat

test: off
deploy: off

on_success:
- cmd: echo Build successful!

on_failure:
- cmd: echo Build failed!

on_finish:
- cmd: echo Building finished.

