/.settings
/.git
/.vs
/.vscode

/build/*
/obj/*
/src/*.o
/src/*.obj
/bin/*
/include/*
/lib/*
/dll/*
*.gcov
*.gcda
*.gcno
*.tar
*.gz
luajit-*/*
lua-all.tar
lua-all.tar.gz
lua-all/*
